<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'login_registration/css/main.css' %}" media="screen" title="no title" charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
    </head>

    <body>
        <a href="{% url 'lr:dash' %}">Home</a> |
        <a href="{% url 'lr:logout' %}">Logout</a><br>
        <h2>{{product.product_name}}</h2>
        <p>Users who added this product/item under their wishlist:</p>
        {% for wish in wishes %}
            <p>{{wish.user.name}}</p>
        {% endfor %}
    </body>
</html>